doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title HELYFLY
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
  body
    include modules/header

    include modules/banner

    include modules/main-description
    
    include modules/gallery   
    //- .gallery
    //-   block gallery-content
    //- //- в нем секшны с заголовками
    //- .about-me 
    //-   block about-me-content

    //- .schedule
    //-   block schedule-content

    //- .map
    //-   block map-content

    //- article.feedback
    //-   block feedback-content

    //- footer.footer
    //-   block footer-content
    script(type="text/javascript" src="js/script.js")
