//- в нем секшны с заголовками
.about-me
    figure.about-me__avatar
        img.avatar(src="" alt="" title="")
        figcaption Марина Иванова
        span Фотограф
        p Показать больше информации о фотографе
    section.about-me-organization
        h4.about-me-organization__title
        p.about-me-organization__text Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
        p.about-me-organization__text Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
        button.about-me-organization__show-more Читать еще
    section.about-me-represent
        h4.about-me-represent__title
        p.about-me-represent__text Встречу вас на машине после длительного перелёта.  Качественный подбор места и локации для вашей съемки.  При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
        button.about-me-represent__show-more Читать еще