.banner
    .banner__inner
        h1.banner__title 
            |Эксклюзивная 
            span фотосессия 
            |при полете на&nbsp;вертолете
            //- делаем череz clip
        .label
            .label__text
                p.label__cost Стоимость:
                p.label__cost-price 1500₽
            .label__percent-icon
        a.banner__btn Забронировать место