.banner
    .banner__inner
        h1.banner__title 
            |Эксклюзивная 
            span фотосессия 
            |при полете на вертолете
        .label
            p.label__cost Стоимость:
                span.label__cost-price 1500₽
            .label__percent-icon
        button.banner__btn Забронировать место