header.header
    .header__inner
        a.logo.header__logo(href="#")
            object.logo-svg(type="image/svg+xml" data="../img/Vector.svg")
        p.header-phone Телефон:
            a.header-phone__num(href="tel:88001231212") 8(800)-123-12-12