section.main-description
    .main-description__inner
        h2.main-description__title Фотосессия в вертолете
        iframe.youtube-video(width="554" height="374" src="https://www.youtube.com/embed/x6tu3kCnxY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p.main-description__description Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
        ul.list.main-description__list
            li.main-description__list-item 3 часа съемки
            li.main-description__list-item Более 50 фотографий
            li.main-description__list-item Москва
            li.main-description__list-item Готовы ответить на любые вопросы
        .achievements.main-description__reviews-block
            span.achievements__icon
            p.achievements__reviews-text Готовы ответить на любые вопросы
            ul.rate.achievements__rate
                li.rate__stars
                li.rate__stars
                li.rate__stars
                li.rate__stars
                li.rate__stars