.header__inner {
    @include flex(row, space-between);
    align-items: center;
    padding: 20px 15px;
    
    .logo-img {
        width: 84px;
    }

    .header-phone {
        display: none;
    }

    .location {
        margin-right: 45px;
        @include font(14px, normal, 17px, $button-text-collor);
        text-align: center;
    }

}